@{
  ViewData["Title"] = @ViewBag.DatosEquipo.Nombre;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.DatosEquipo.Nombre</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>

<body>
  <div class="jumbotron">
    <div class="conatiner d-block">
      <img src=@ViewBag.DatosEquipo.Escudo class="img-thumbnail mx-auto mw-50 h-auto">
      <img src=@ViewBag.DatosEquipo.Camiseta class="img-thumbnail mx-auto mw-50 h-auto">
    </div>
    <hr class="my-4 pt-2">
    <div class="container">
      <h1 class="display-4 font-weight-bold text-center">@ViewBag.DatosEquipo.Nombre</h1>
      <p class="lead text-center">Continente: @ViewBag.NombreContinente</p>
      <p class="lead text-center">Jugadores Totales: @ViewBag.ListaJugadores.Count</p>
      <p class="lead text-center">Copas Ganadas: @ViewBag.DatosEquipo.CopasGanadas</p>
    </div>
    <hr class="my-4">
    <p class="lead text-center">
      <a class="btn btn-primary btn-lg"
        href='@Url.Action("AgregarJugador", "Home", new {IdEquipo = @ViewBag.DatosEquipo.IdEquipo})' role="button">
        Agregar Jugador
      </a>
    </p>
  </div>

  <table class="table table-striped table-borderless table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Foto del jugador</th>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      @{
        @foreach (Jugador jug in @ViewBag.ListaJugadores)
        {
          <tr>
            <td><img src=@jug.Foto class="img-thumbnail" style="height: 30vh; width: auto;"></td>
            <td>@jug.NumCamiseta</td>
            <td>@jug.Nombre</td>
            <td>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalJugador" id="buttonModal"
              value=@jug.IdJugador onclick="cargarDatosModal(this.value, @ViewBag.DatosEquipo.IdEquipo)">
                Ver Detalle
              </button>
            </td>
          </tr>
        }
      }
    </tbody>
  </table>

  <!-- Modal (Info Jugador) -->
  <div class="modal fade" id="ModalJugador" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="NombreJugador">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img class="img-fluid mx-auto" id="FotoJugador">
          <div id="NumCamiseta"></div>
          <div id="FechaNacimiento"></div>
        </div>
        <div class="d-block mx-auto pb-2">
          <button class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#ModalBorrar">Eliminar Jugador</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal (Borrar Jugador) -->
  <div class="modal fade" id="ModalBorrar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Esta seguro que desea elimnar al jugador seleccionado? Esta accion es irreversible!</p>
          <div class="container">
            <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <a class="btn btn-danger" id="BtnConfirmarBorrado" value=-1 href="">Aceptar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script>
    function cargarDatosModal(IdJ, IdE) {
    $.ajax({
      type: 'POST',
      dataType: "JSON",
      url: '@Url.Action("VerDetalleJugadorAjax", "Home")',
      data: { IdJugador: IdJ },
      success:
        function (response) {
          $("#NombreJugador").html(response.nombre);
          $("#FotoJugador").attr("src", response.foto);
          $("#NumCamiseta").html("Numero de camiseta: " + response.numCamiseta);
          $("#FechaNacimiento").html("Fecha de nacimiento: " + response.fechaNacimiento);
          $("#BtnConfirmarBorrado").attr("href", '@Url.Action("EliminarJugador", "Home")'+"?IdJugador="+IdJ.toString()+"&IdEquipo="+IdE.toString());
        }
    })
  }
</script>