@{
    ViewData["Title"] = "@ViewBag.DatosEquipo.Nombre";
}

  <div class="jumbotron">  
    <div class="col-sm-5"><img src="@ViewBag.DatosEquipo.Escudo"></div>
    <div class="col-sm-5"><img src="@ViewBag.DatosEquipo.Escudo"></div>
    <h1 class="display-4">@ViewBag.DatosEquipo.Nombre</h1>
    <p class="lead">Continente: @ViewBag.DatosEquipo.Continente</p>
    <p class="lead">Copas Ganadas: @ViewBag.DatosEquipo.CopasGanadas</p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg" href='Url.Action("AgregarJugador", "Home", @ViewBag.DatosEquipo.IdEquipo)' role="button">Agregar Jugador</a>
    </p>
  </div>

  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Num camiseta</th>
      <th scope="col">Nombre</th>
      <th scope="col">Fecha de nacimiento</th>
      <th scope="col">Equipo actual</th>
    </tr>
  </thead>
 
  @{
    foreach(Jugador jug in @ViewBag.ListaJugadores){
      <tbody>
        <tr>
          <td>@jug.NumCamiseta</td>
          <td height=100 width=100><img src="@jug.Foto" height=100 width=100></td>
          <td>@jug.Nombre</td>
        </tr>
      </tbody>
    }
  }
 
</table>